# Introduction
Whenever you create a variable in Python, it has a value with a corresponding data type. There are many different data types, such as integers, floats, booleans, and strings, all of which we'll cover in this lesson. (This is just a small subset of the available data types -- there are also dictionaries, sets, lists, tuples, and much more.)

Data types are important, because they determine what kinds of actions you can do with them. For instance, you can divide two floats, but you cannot divide two strings. For instance, ``12.0/2.0`` makes sense, but ``"cat"/"dog"`` does not.

To avoid errors, we need to make sure that the actions match the data types that we have.

# Integers
Integers are numbers without any fractional part and can be positive (``1``, ``2``, ``3``, ...), negative (``-1``, ``-2``, ``-3``, ...), or zero (``0``).

In the code cell below, we set a variable ``x`` to an integer. We then verify the data type with ``type()``, and need only pass the variable name into the parentheses.

In [1]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

In the output above, ``<class 'int'>`` refers to the **int**eger data type.

# Floats
Floats are numbers with fractional parts. They can have many numbers after decimal.

In [2]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

We can also specify a float with a fraction.

In [3]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

One function that is particularly useful for fractions is the round() function. It lets you round a number to a specified number of decimal places.

In [4]:
# Round to 5 decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

Whenever you write an number with a decimal point, Python recognizes it as a float data type.

For instance, ``1.`` (or ``1.0``, ``1.00``, etc) will be recognized as a float. This is the case, even though these numbers technically have no fractional part!

In [5]:
y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

# Booleans
Booleans represent one of two values: ``True`` or ``False``. In the code cell below, ``z_one`` is set to a boolean with value ``True``.

In [6]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

Next, ``z_two`` is set to a boolean with value ``False``.

In [7]:
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>

Booleans are used to represent the truth value of an expression. Since ``1 < 2`` is a true statement, ``z_three`` takes on a value of ``True``.

In [8]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

Similarly, since ``5 < 3`` is a false statement, ``z_four`` takes on a value of ``False``.

In [10]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

We can switch the value of a boolean by using ``not``. So, ``not True`` is equivalent to ``False``, and ``not False`` becomes ``True``.

In [11]:
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

Booleans will be important in the next lesson, when you learn about conditions and conditional statements.

# Strings
The string data type is a collection of characters (like alphabet letters, punctuation, numerical digits, or symbols) contained in quotation marks. Strings are commonly used to represent text.

In [12]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

You can get the length of a string with ``len()``. ``"Hello, Python!"`` has length 14, because it has 14 characters, including the space, comma, and exclamation mark. Note that the quotation marks are not included when calculating the length.

In [13]:
print(len(w))

14

One special type of string is the empty string, which has length zero.

In [14]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

If you put a number in quotation marks, it has a string data type.

In [15]:
my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

If we have a string that is convertible to a float, we can use ``float()``.

This won't always work! For instance, we can convert ``"10.43430"`` and ``"3"`` to floats, but we cannot convert ``"Hello, Python!"`` to a float.

In [16]:
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

Just like you can add two numbers (floats or integers), you can also add two strings. It results in a longer string that combines the two original strings by concatenating them.

In [17]:
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

Note that it's not possible to do subtraction or division with two strings. You also can't multiply two strings, but you can multiply a string by an integer. This again results in a string that's just the original string concatenated with itself a specified number of times.

In [18]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

Note that you cannot multiply a string by a float! Trying to do so will return an error.

In [19]:
will_not_work = "abc" * 3.

TypeError: can't multiply sequence by non-int of type 'float'

In the error, the "sequence" is the string ``"abc"``, and the "non-int of type 'float'" is the float (``3.``). So, the error message can be reworded to say "can't multiply string by float".

# Practice

## Question 1
Try to to convert a float to an integer with the ``int`` function.

In [21]:
# Define a float
y = 1.0
print(y)
print(type(y))

# Convert float to integer with the int function
z = ...
print(z)
print(type(z))

# Test
assert isinstance(y, float)
assert isinstance(z, int)

In this case, the float you are using has no numbers after the decimal.

- But what happens when you try to convert a float with a fractional part to an integer?
- How does the outcome of the ``int`` function change for positive and negative numbers?

Use the next code cell to investigate and answer these questions. Feel free to add or remove any lines of code -- it is your workspace!

In [22]:
# Uncomment and run this code to get started!
#print(int(1.2321))
#print(int(1.747))
#print(int(-3.94535))
#print(int(-2.19774))

## Question 2
In the tutorial, you learned about booleans (which can take a value of ``True`` or ``False``), in addition to integers, floats, and strings. For this question, your goal is to determine what happens when you multiply a boolean by any of these data types. Specifically,

- What happens when you multiply an integer or float by ``True``? What happens when you multiply them by ``False``? How does the answer change if the numbers are positive or negative?
What happens when you multiply a string by ``True``? By ``False``?

Use the next code cell for your investigation.

In [23]:
# Uncomment and run this code to get started!
# print(3 * True)
# print(-3.1 * True)
# print(type("abc" * False))
# print(len("abc" * False))

## Question 3
In this question, you will build off your work from the previous exercise to write a function that estimates the value of a house.

Use the next code cell to create a function ``get_expected_cost`` that takes as input three variables:

- beds - number of bedrooms (data type float)
- baths - number of bathrooms (data type float)
- has_basement - whether or not the house has a basement (data type boolean)
It should return the expected cost of a house with those characteristics. Assume that:

- the expected cost for a house with 0 bedrooms and 0 bathrooms, and no basement is 80000,
- each bedroom adds 30000 to the expected cost,
- each bathroom adds 10000 to the expected cost, and
- a basement adds 40000 to the expected cost.

For instance,

- a house with 1 bedroom, 1 bathroom, and no basement has an expected cost of 80000 + 30000 + 10000 = 120000. This value will be calculated with ``get_expected_cost(1, 1, False)``.
- a house with 2 bedrooms, 1 bathroom, and a basement has an expected cost of 80000 + 2*30000 + 10000 + 40000 = 190000. This value will be calculated with ``get_expected_cost(2, 1, True)``.

you can get a hint by clicking it next!

<details>
<summary>HINT</summary>
The variable has_basement is either True or False. What happens when you multiply it by 40000 (the value of a basement)? Refer to the previous question if you are unsure.
</details>

In [ ]:
# TODO: Complete the function
def get_expected_cost(beds, baths, has_basement):
    ...
    
# Test
assert get_expected_cost(1, 1, False) == 120000
assert get_expected_cost(2, 1, True) == 190000

## Question 4
We'll continue our study of boolean arithmetic. For this question, your task is to provide a description of what happpens when you add booleans.

Use the next code cell for your investigation. Feel free to add or remove any lines of code - use it as your workspace!

In [27]:
# print(False + False)
# print(True + False)
# print(False + True)
# print(True + True)
# print(False + True + True + True)

Once you have an answer, run the code cell below to see the solution.

<details>
<summary>HINT</summary>
When you add booleans, adding False is equivalent to adding 0, and adding True is equivalent to adding 1
</details>

## Question 5
You own an online shop where you sell rings with custom engravings. You offer both gold plated and solid gold rings.

- Gold plated rings have a base cost of $50, and you charge $7 per engraved unit.
- Solid gold rings have a base cost of $100, and you charge $10 per engraved unit.
- Spaces and punctuation are counted as engraved units.

Write a function ``cost_of_project()`` that takes two arguments:

- engraving - a Python string with the text of the engraving
- solid_gold - a Boolean that indicates whether the ring is solid gold

It should return the cost of the project. This question should be fairly challenging, and you may need a hint.

In [ ]:
def cost_of_project(engraving, solid_gold):
    ...

# Test
from tests import q5_cost_of_project_results
assert cost_of_project("Charlie+Denver", True) == q5_cost_of_project_results[0]
assert cost_of_project("08/10/2000", False) == q5_cost_of_project_results[1]

<details>
<summary>HINT</summary>
There are two options - either the project uses solid gold or does not. With this in mind, you can structure your solution like this: <code>cost = solid_gold * ____ + (not solid_gold) * ____</code>. You need to figure out how to fill in the blanks. Also, remember that:

- If <code>solid_gold = True</code>, then <code>(not solid_gold) = False</code>, and if <code>solid_gold = False</code>, then <code>(not solid_gold) = True</code>.
- Multiplying an integer by <code>True</code> is equivalent to multiplying it by 1, and multiplying an integer by <code>False</code> is equivalent to multiplying it by 0.
</details>

<details>
<summary>SOLUTION</summary>
<code>
def cost_of_project(engraving, solid_gold):<br>
&nbsp;&nbsp;&nbsp;&nbsp;cost = solid_gold * (100 + 10 * len(engraving)) + (not solid_gold) * (50 + 7 * len(engraving))<br>
&nbsp;&nbsp;&nbsp;&nbsp;return cost
</code>
</details>

# Keep going
Continue to the next lesson to learn about [conditions and conditional statements](04_conditions_and_conditional_statements.ipynb).